.cars{
    background-color:rgb(85, 85, 214);
    padding:5rem 0;
    position: relative;
    z-index:10;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;

}

/* .cars::after,.cars::before{
    content:"";
    width:4rem;
    height:4rem;
    background-color:purple;
    position: absolute;
    bottom:0;
}
.cars:after{
    left:50%;
    transform:skew(0, -20deg);
}
.cars::before{
    right:50%;
    transform:skew(0, 20deg);
} */
.item{
    color:red;
}
